[Unit]
Description=Steam Controller Gyro DSU Server
After=sockets.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=%h/SteamControllerGyroDSU/SteamControllerGyroDSU --port 26761

[Install]
WantedBy=default.target
