[Desktop Entry]
Name=Update SteamControllerGyroDSU
Exec=bash -c "cd $HOME/SteamControllerGyroDSU && ./update.sh"
Icon=system-software-update
Terminal=true
Type=Application
