[Desktop Entry]
Exec=bash <(curl -sL https://raw.githubusercontent.com/dylangmarinus-stack/Steam-Controller-GyroDSU/main/pkg/install.sh)
Icon=input-gamepad
Name=SteamControllerGyroDSU
StartupNotify=false
Terminal=true
Type=Application
